<!DOCTYPE HTML>
<html>
<head>
    <title text="Matches"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/slidebars.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div canvas="container" id="container">
    <div class="header">
        <button class="js-toggle-left-slidebar">Menu</button>
    </div>
    <div id="content">
        <span th:if="${comment != null}" th:text="${comment}" class="comment"></span>
        <h1>All Matches</h1>
        <table class="tableStyle">
            <tr>
                <th class="tableHeaderStyle">Date</th>
                <th class="tableHeaderStyle">Home Team</t>
                <th class="tableHeaderStyle">Home Score</th>
                <th class="tableHeaderStyle">Away Score</th>
                <th class="tableHeaderStyle">Away Team</th>
                <th class="tableHeaderStyle">Status</th>
                <th class="tableHeaderStyle">Pick</th>
                <!--<th>Match</th>-->
            </tr>
            <tr th:each = "match: ${matches}">
                <td th:text="${match.get('date')}"></td>
                <td th:text="${match.get('homeTeamName')}"></td>
                <td th:text="${match.get('goalsHomeTeam')}"></td>
                <td th:text="${match.get('goalsAwayTeam')}"></td>
                <td th:text="${match.get('awayTeamName')}"></td>
                <td th:text="${match.get('status')}"></td>
                <td><a th:if="${match.get('status') == 'TIMED'}" th:href="@{'/betDetails?matchID=' + ${match.get('MatchID')} + '&home=' + ${match.get('homeTeamName')} + '&away=' + ${match.get('awayTeamName')}}">Pick</a></td>
                <!--<td th:text="${match.get('Competition')}"></td>-->
            </tr>
        </table>
    </div>
</div>

<div off-canvas="slidebar-1 left reveal" class="mLinkStyle">
    <p><a href="/">Home</a></p>
    <p><a href ="/addUser">New User</a></p>
    <p><a href ="/viewUser">User List</a></p>
    <p><a href ="/showMatches">Show Matches</a></p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="js/slidebars.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
