<!DOCTYPE HTML>
<html>
<head>
    <title text="Matches"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/slidebars.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript">
        
    </script>
</head>
<body>
<div canvas="container" id="container">
    <div class="header">
        <button class="js-toggle-left-slidebar">Menu</button>
    </div>
    <div id="content">
        <h1>All Matches</h1>
    </div>
</div>

<div off-canvas="slidebar-1 left reveal" class="mLinkStyle">
    <p><a href="/">Home</a></p>
    <p><a href ="/addUser">New User</a></p>
    <p><a href ="/viewUser">User List</a></p>
    <p><a href ="/showMatches">Show Matches</a></p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="js/slidebars.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
