<!DOCTYPE HTML>
<html>
<head>
    <title text="Add User"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/slidebars.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div canvas="container" id="container">
    <div class="header">
        <button class="js-toggle-left-slidebar">Menu</button>
    </div>
    <div id="content">
        <h1>Add New User</h1>
        <form method="post" action="saveUser">
            Name:<br>
            <input type="text" name="name"><br><br>
            Favorite Team:<br>
            <input type="text" name="team"><br><br>
            Password:<br>
            <input type="password" name="password"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

<div off-canvas="slidebar-1 left reveal" class="mLinkStyle">
    <p><a href="/">Home</a></p>
    <p><a href ="/addUser">New User</a></p>
    <p><a href ="/showMatches">Show Matches</a></p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="js/slidebars.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
